@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #343254, #121212);
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;

  overflow-x: hidden;

  margin: 0;
}

div.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    -webkit-animation: flicker 10s infinite;
}

@-webkit-keyframes flicker {
    0%{
        opacity: 0.7;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}