@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #343254, #121212);
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}